@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Contoso Bookstore!!!</h1>
        
        <div>
            <a asp-area="" asp-controller="Books" asp-action="Index" class="navbar-brand">Contoso BookStore</a>
        </div>
    </div>
